@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

 body{
    min-height: 1000px;
} 

/* .content p{
    font-weight: 300px;
    color: white;
} */


/* always wala portion  */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/bg1.jpg"); 
    background-size: 100% 100%; 
}

.banner .content{
    max-width: 900px;
    color: white;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: white;
   font-weight: 700;


}

.banner .content p{
    font-size: 1em;
}

.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top:20px ;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}


/* navbar */



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;

}

header .logo span{
    color: red;

}

header .navigation {
    position: relative;
    display: flex;

}

header .navigation li{
    list-style: none;
    margin-left: 30px;

}

ul li{
    cursor: pointer;
    
}

ul li:hover{
    cursor: pointer;
    font-size: 1em;
    color: #ff0157;
    /* background: #ff0157; */
    display: inline-block;
    /* padding: 10px 10px; */
    /* margin-top:20px ; */
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    /* transition: 0.5s; */
    border-radius: 10px;
    
}
header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
}


/* javascript se jo toggle lagaya hai uska kaam  */

header.sticky{
    background: #fff;
    opacity: 0.9;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
    font-size: 19px;
}

header.sticky .logo{
    color: #111;
  
}

header.sticky .navigation a{
    color: #111;
    font-weight: 300;
  
}

header.sticky .navigation li a:hover{
    color: #ff0157;
}


/* about walay portion ka kaam  */

section{
    padding: 100px;

}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.row .col50{
    position: relative;
    /* width: 60%; */
    width: 48%;
}


.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgbx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;

}

.row .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    object-fit: cover;
}


/* menu */

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.menu .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text{
    padding: 15px 0 5px;

}

.menu .content .box .text h3{
    font-weight: 400;
    color: #111;

}


/* expert  */

.expert .content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box{
    width: 250px;
    margin: 15px;

}

.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;

}

.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.expert .content .box .text{
    padding: 15px 0 5px;

}

.expert .content .box .text h3{
    font-weight: 400;
    color: black;

}

.testimonials{
    background: url("../images/bg2.jpg");
    background-size: 100% 100%;

}

.white .titleText,
.white p{
    color: #fff;
}

.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;

}

.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;

}

.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.testimonials .content .box .text{
    text-align: center;
}

.testimonials .content .box .text p{
    color: #666;
    font-style: italic;

}

.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 20px;
    color: #ff0157;
    font-weight: bold;
}

/* contact form  */

.contact{
    background: url(../images/bg4.jpg);
    background-size: 100% 100%;
    
}

.contactForm{
    padding: 75px 50px;
    background:white;
    opacity: 0.8;
    box-shadow: 0 15px 50px rgb(0, 0, 0, 0.1);
    width: 500px;
    margin-top: 50px;

}

.contactForm h3{
    color: black;
    font-size: 1.8em;
    margin-bottom: 20px;
   
    
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;

}

.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    border: none;
    cursor: pointer;

}

.contact .title .titleText{
    font-size: 40px;
    background-color: #555;
    opacity: 0.7;
    width: 300px;
    padding: 10px 20px;
}


/* footer */

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #555;

}

.copyrightText p{
    color: #fff;
}

.copyrightText a{
    color: #ff0157;
    text-decoration: none;
}


@media (max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        /* height: calc(100%-68%); */
        height: 90%;
        position: fixed;
        opacity: 0.9;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        transition: all 0.2s ease-out;
    }

    header .navigation li{
        margin-left: 0;

    }

    header .navigation li a{
        color: #111;
        font-size: 1.8em;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu1.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;


    }

    .menuToggle.active{
        background: url(../images/close1.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

    }

    header.sticky .menuToggle{
        filter: invert(1);
    }

    section{
        padding: 20px;
        
    }

    .row{
        flex-direction: column;
      
    }
    .row .col50{
        position: relative;
        width: 100%;
    }

    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }

    .row .col50 .imgBx{
          
           
           height: 300px;
           margin-top: 20px;    
        
    }

    .menu  {
        margin-top:250px;
    }

    .menu .content {
       margin-top: 20px;
    }

    .menu .content .box{
        margin: 10px;
    }

    .menu .content .box .imgBx{
        height: 260px;
    }

    .title{
        text-align: center;
    }
    .titleText{
        text-align: center;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
   
    .testimonials .content .box{
        width: 400px;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
    }

    .contactForm{
        width: 320px;
        border-radius: 10px;
        height: 700px;
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .contactForm .inputBox input
    {
        height: 50px;
    }
    .footerText{
        text-align: center;
        font-size: 15px;
    }

}




